@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Hanken+Grotesk:wght@300&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@400;500;600;700;800&family=Outfit:wght@100;200&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&family=Raleway:wght@500&family=Rubik+Doodle+Shadow&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%) ;
    font-size: 15px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400;
    text-align: left;
    display:flex;
    justify-content: center;
    content: center;
    width: auto;
    padding-top: 200px;
    
    

}
img{
    width: 3vb;
    background-color:hsl(216, 12%, 8%);
    border-radius: 50px;
    padding: 10px;

}
.Rating{

    
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    background-color: hsl(213, 19%, 18%);
   
    
}
p{
    font-size: 11px;
    color: hsl(216, 12%, 54%);
}
.numbers{
    
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
   
  
}
.num{
     
    vertical-align: middle;
    cursor: pointer;
    color:hsl(216, 12%, 54%);
    background-color: hsl(216, 12%, 8%);
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 0;
   
    
    
    
}


button{
    width: 250px;
    height: 7vb;
    border-radius: 15px;
    margin:10px 0px 5px 0px ;
    border: none;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}
.Thank{
    text-align: center;
    justify-content: center;
    z-index: -1;
    display: none;
}
.Thank img{
    border-radius: 0;
    width: 25vb;
    background-color: transparent;
}
.Thank div{
    background-color: hsl(216, 12%, 54%);
    color:  hsl(25, 97%, 53%);
    border-radius: 15px;
    font-size: 11px;
    padding:5px;
    justify-self: center; 
    margin: 10px 50px 10px 50px;  
}
.Thank p{
    font-size: 11.8px;
}